<!-- chat.component.html
<div class="container-fluid ">
  <div class="row">
      <div class="col-md-4 col-md-offset-4">
          <div class="panel panel-info">
              <div class="panel-heading">
                  <strong>Talk with Me !!!</strong>
              </div>
              <div class="panel-body fixed-panel">
                  <ul class="media-list">
                      <li class="media" *ngFor="let message of messages">
                          <div class="media-body" [ngStyle]="{'text-align': message.sender === 'user' ? 'right' : 'left', 'color': message.sender === 'user' ? '#2EFE2E' : 'black'}">
                              {{ message.text }} 
                          </div>
                      </li>
                      
                  </ul>
              </div>
              <div class="panel-footer">
                  <form (ngSubmit)="sendMessage()">
                      <div class="input-group">
                          <input type="text" class="form-control" placeholder="Enter Message" [(ngModel)]="userMessage" name="messageText">
                          <span class="input-group-btn">
                              <button class="btn btn-info" type="submit">Send</button>
                          </span>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div> -->




<div id="frame">
	<div id="sidepanel">
		<div id="profile">
			<div class="wrap">
				<img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
				<p>Mike Ross</p>
				<i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
				<div id="status-options">
					<ul>
						<li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
						<li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
						<li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
						<li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
					</ul>
				</div>
				<div id="expanded">
					<label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mikeross" />
					<label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="ross81" />
					<label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mike.ross" />
				</div>
			</div>
		</div>
		<div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" placeholder="Search contacts..." />
		</div>

		<div id="bottom-bar">
			<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
			<button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
		</div>
	</div>
	<div class="content">
		<div class="contact-profile">
			<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
			<p>Harvey Specter</p>
			<div class="social-media">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				<i class="fa fa-twitter" aria-hidden="true"></i>
				 <i class="fa fa-instagram" aria-hidden="true"></i>
			</div>
		</div>
		<div class="messages">
			<ul>
		
		

				<li class="sent">
					<img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
					<p>What are you talking about? You do what they say or they shoot you.</p>
				</li>
				<li class="replies">
					<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
					<p>Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>
				</li>
			</ul>
      <ul class="media-list">
        <li class="media" *ngFor="let message of messages" style="box-sizing: shadow;">
            <div class="media-body" style="padding: 10px; " [ngStyle]="{'text-align': message.sender === 'user' ? 'right' : 'left', 'color': message.sender === 'user' ? 'white' : 'black', 
            'background-color': message.sender === 'user' ? '#2c3e50' : 'white', 
            'border-radius': message.sender === 'user' ? '0.5rem 0.5rem 0 0.5rem' : '0.5rem 0.5rem 0 0.5rem','width': message.sender === 'user' ? '90%' : '90%','margin-left': message.sender === 'user' ? '50px' : '0',
            'margin-right': message.sender === 'user' ? '0' : '50px',}
            ">
                {{ message.text }} 
            </div>
        </li>
        
    </ul>
		</div>
		
		<div class="panel-footer" >
			<form (ngSubmit)="sendMessage()" >
			  <div class="input-group" >
				<input type="text" class="form-control" placeholder="Enter Message" [(ngModel)]="userMessage" name="messageText"  style="border: 1.5px solid #2c3e50;">
				<span class="input-group-btn">
				  <button class="btn btn-info rotate-up" type="submit" style="background-color: #2c3e50; border: 1px solid #2c3e50;">
					<svg  style="color: white;" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
						<path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
					  </svg>
				  </button>
				</span>
			  </div>
			  <div class="mt-5"></div>
			  <div class="mt-5"></div>
			</form>
			
			
		  </div>
	</div>
</div>

