<!-- chat.component.html -->
<div class="container">
  <div class="row">
      <div class="col-md-4 col-md-offset-4">
          <div class="panel panel-info">
              <div class="panel-heading">
                  <strong>Talk with Me !!!</strong>
              </div>
              <div class="panel-body fixed-panel">
                  <ul class="media-list">
                      <li class="media" *ngFor="let message of messages">
                          <div class="media-body" [ngStyle]="{'text-align': message.sender === 'user' ? 'right' : 'left', 'color': message.sender === 'user' ? '#2EFE2E' : 'black'}">
                              {{ message.text }} 
                          </div>
                      </li>
                      
                  </ul>
              </div>
              <div class="panel-footer">
                  <form (ngSubmit)="sendMessage()">
                      <div class="input-group">
                          <input type="text" class="form-control" placeholder="Enter Message" [(ngModel)]="userMessage" name="messageText">
                          <span class="input-group-btn">
                              <button class="btn btn-info" type="submit">Send</button>
                          </span>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
